

<% if(locals.isLoggedIn)  {%>
  <div class='solid'>
  <div class= 'col s12'>
  <div class='row'>
  <div class = 'col s3'>
  <img src = '<%=locals.user.url%>' class = 'responsive-img' style='margin-top: 20px'>
  </div>


  <div class= 'col s9'>
  <h3>Hello, <%=locals.user.username%>!</h3>
  <h5><a href='../users/<%=user._id%>/edit'>Edit your profile</a></h5>
  <h5><a href ="/logout" >Logout</a></h5>
  </div>


  </div>
  </div>

<div>

  <h6>Here are all your comments of places:</h6>
  <div class='col s12 row'>
  <% places.forEach(place => { %>

    <% place.comments.forEach(comment => { %>

      <% if(locals.user.id === comment.commenter.id){%>
        <div class='col s6'>
        <div class="card blue lighten-5">
        <div class="card-content black-text">
        <span class="card-title">
        <a href='<%=place._id%>'><%= place.user.username %>&#8217;s visit to <%=place.name%></a>
        </span>
        <p>Your comment: <%= comment.content %></p>
        <br />
        <a href= '/places/<%=place._id%>/comments/<%=comment._id%>/commentedit'>
        <button class="waves-effect waves-light green btn">Edit comment</button>
        </a>

        </div>
        </div>
        </div>

        <% } %>
        <% }) %>
        <%   }) %>
        </div>

</div>
</div>





<%} %>
