
<% if(locals.isLoggedIn) {%>
  <div class='card-panel blue lighten-5' id='submit'>

<h3>Edit your entry about <%=place.placename%></h3>
<div class=row>
<form class="col s12" method='POST' action='/places/<%=place._id %>'>
 <input type='hidden' name='_method' value='PUT'>

 <div class="input-field col l12">
<input type='text' name="name" value='<%=place.name%>' id='name_field'></input>
 <label for="name_field">Name</label>
 </div>

  <div class="input-field col l12">
 <input type='text' name="photo" value='<%=place.photo%>' id='photo_field'></input>
   <label for="photo_field">Photo URL</label>
 </div>

 <div class="input-field col l12">
 <input type='date' name='datestart' value='<%=place.datestart%>' id='datestart_field' />
 <label for="datestart_field">Start date of visit</label>
 </div>

 <div class="input-field col l12">
 <input type='date' name='dateend' value='<%=place.dateend%>' id='dateend_field' />
 <label for="dateend_field">End date of visit</label>
 </div>

 <div class="input-field col l12">
 <input type='number' name="rating" id='rating_field' min="1" max="5" value='<%=place.rating%>'></input>
 <label for="rating_field">rating</label>
 </div>

 <div class="input-field col l12">
 <input type='text' name='notes' value='<%=place.notes%>' id="notes_field" />
 <label for="notes_field">Notes</label>
 </div>



<div class = 'row'>
<br />
<div class = 'col s12'>
<div class = 'col s6 left-align'>


<button class= "waves-effect waves-light green btn">Update place</button>
</form>


</div>

<div class = 'col s6 right-align'>

<% if(place.user && (place.user.id === locals.user.id)) {%>

  <form method='POST' action='/places/<%=place._id %>'>
  <input type='hidden' name='_method' value='DELETE'>
  <button class="waves-effect waves-light red btn">Delete place</button>
  </form>

<%} %>
</div>
</div>
</div>
</div>
</div>
<%} %>
