
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7WaMO-50nzRzFcT0F7P6B5RYKHnyMVt8&libraries=places">


</script>

<script>
window.addEventListener('DOMContentLoaded', () => {

  const mapDiv = document.querySelector('.map');
  console.log(mapDiv);

  const map = new google.maps.Map(mapDiv, {
    center: {lat: 0, lng: 0 },
    zoom: 2,
  });

  const bounds = new google.maps.LatLngBounds();

  //marking the locations of the places

  var x = document.getElementsByClassName('googlelocation');
  var locationarray= Array.from(x);
  var infoWindowArray = [];

  locationarray.forEach(function(y){
    var coords = y.innerHTML.split(', ');
    const marker = new google.maps.Marker({
      position: {lat: Number(coords[0]), lng: Number(coords[1])},
      map: map
    });
    const infoWindow = new google.maps.InfoWindow({
      content: `<div class='center-align'>
      <a href= '/places/${coords[2]}'>
      <h5>${coords[3]}</h5>
      <h6>${coords[coords.length-1]}</h6>
      </a>
      </div>`
    });

    infoWindowArray.push(infoWindow);

    marker.addListener('click', () => {
      infoWindowArray.forEach(infoWindow =>
        infoWindow.close(map, marker));
        infoWindow.open(map, marker);
      });
    })







  });


</script>
<div class='solid' style='margin-bottom: 20px'>
  <h4 class='center-align'>All the places our users have pinned!</h4>
</div>
<div class="map"></div>

<div class='solid'>



  <div class= 'col s12' style='margin-bottom :40px '>

    <div class="row">
      <div class= 'col s12'>

        <%places.sort(function(a, b) {
          return b.name < a.name ?  1 : b.name > a.name ? -1 : 0;
        });%>

        <% places.forEach((place) => { %>
          <div class="col s12 m4">
          <div class="card medium">
          <a href='places/<%= place._id %>' ><div class="card-image">
          <img src="<%= place.photo %>">
          </div>
          <div class= 'center-align'>
          <h4><%= place.name %></h4>
          <p>  <%if (place.rating === 5) {%>
            &#9733;&#9733;&#9733;&#9733;&#9733;
            <%} else if (place.rating > 3.6) {%>
              &#9733;&#9733;&#9733;&#9733;&#9734;
              <%} else if (place.rating > 2.6) {%>
                &#9733;&#9733;&#9733;&#9734;&#9734;
                <%} else if (place.rating > 1.6) {%>
                  &#9733;&#9733;&#9734;&#9734;&#9734;
                  <%} else if (place.rating > 0.6) {%>
                    &#9733;&#9734;&#9734;&#9734;&#9734;
                    <%} else {%>
                      no rating
                      <%} %> </p>
                      <div class='hidden'>
                      <p class='googlelocation'><%= place.location %>, <%= place._id %>, <%=place.name %></p>
                      </div>
                      </div>
                      </a>

                      </div>
                      </div>



                      <%   }) %>

                    </div>
                  </div>


                </div>
