
<div class="container solid">
  <div class='center-align'>
    <div class='placephoto' style= 'background-image: url(<%= place.photo %>)'></div>

    <h3 class= 'col s12'><%= place.name %></h3>


    <%if (locals.userr.id === place.user.id) { %>
      <div class='center-align'>
        <h5>Visited by you!</h5>
        <a href='/places/<%=place.id%>/edit' ><button class ="waves-effect waves-light green btn">Edit place</button></a>
      </div>
      <%} else {%>
        <h5>Visited by <a href='/users/<%=place.user.id%>'><%=place.user.username%></a></h5>
        <%}%>
        <%if (place.dateStart || place.dateend) {%>
        <p><%=place.datestart.toDateString()%> to <%=place.dateend.toDateString()%></p>
        <%}%>
        <%if (place.rating === 5) {%>
          &#9733;&#9733;&#9733;&#9733;&#9733;
          <%} else if (place.rating === 4) {%>
            &#9733;&#9733;&#9733;&#9733;&#9734;
            <%} else if (place.rating === 3) {%>
              &#9733;&#9733;&#9733;&#9734;&#9734;
              <%} else if (place.rating === 2) {%>
                &#9733;&#9733;&#9734;&#9734;&#9734;
                <%} else {%>
                  &#9733;&#9734;&#9734;&#9734;&#9734;
                  <%} %>
                  <h5 style='margin-top: 30px'><%=place.notes%></h5>
                </div>
                <div class='card-panel green lighten-5' style='margin-top: 50px'>
                  <h5>Comments</h5>
                <% place.comments.forEach((comment) => { %>

                  <div class='col s12 row'>


                  <div class= 'col s12'>
                  <h6><%= comment.content %></h6>
                  </div>

                  <div class= 'row'>
                  <div class= 'col s4 m2'>
                  <img class='circle responsive-img' src='<%=comment.commenter.url%>' style= 'margin-top: 20px; object-fit: cover; width:70px; height:70px;'>
                  </div>

                  <div class= 'col s6 m8' style='margin-top:20px'>
                  <p><%=comment.commenter.username%></p>
                  <p class='small'><%=comment.createdAt%></p>
                  </div>


                  <div class= 'col s2 m2'>
                  <br />
                  <%if(locals.isLoggedIn && (comment.commenter.id === locals.userr.id)) {%>
                    <a href='/places/<%= place._id%>/comments/<%= comment._id %>/commentedit'><button class ="waves-effect waves-light green btn">Edit</button></a>
                    <% } %>
                    </div>

                    </div>

                    </div>


                    <% }) %>
                  </div>
                    <br />

                    <div class='card-panel blue lighten-5' id='submit' >
                      <h5>Leave a comment</h5>
                      <div class=row>
                        <form class="col s12" method="POST" action="/places/<%= place._id %>/comments">


                          <div class="input-field col l12">
                            <textarea type= 'text' name="content" id='comment_field'  class="materialize-textarea"></textarea>
                            <label for="comment_field">Comment</label>
                          </div>

                          <button class ="waves-effect waves-light green btn">Submit</button>
                        </form>
                      </div>

                    </div>
