

<% if(locals.isLoggedIn)  {%>

  <div class= 'col s12'>
  <div class='row'>
  <div class = ' col s3'>
  <img src = '<%=locals.user.url%>' class = 'responsive-img' style='margin-top: 20px'>
  </div>


  <div class= 'col s9'>
  <h3>Hello, <%=locals.user.username%>!</h3>
  <h5><a href='../users/<%=user._id%>/edit'>Edit your profile</a></h5>
  </div>


  </div>
  </div>


  <div class='divider'></div>


  <h6>Here are all your reviews of parks:</h6>


  <% parks.forEach((park) => { %>

    <% park.reviews.forEach((review) => { %>

      <% if(locals.user.username === review.reviewer){%>


        <div class="row">
        <div class="col s12 m6">
        <div class="card blue lighten-5">
        <div class="card-content black-text">
        <span class="card-title">  <a href='<%=park._id%>'><%=park.parkname%></a></span>
        <p>Title: <%= review.title %></p>
        <p>Review: <%= review.content %></p>
        <br />
        <a href= '/parks/<%=park._id%>/reviews/<%=review._id%>/reviewedit'><button class="waves-effect waves-light green btn">Edit this review</button></a>

        </div>
        </div>
        </div>

        <% } %>
        <% }) %>
        <%   }) %>

        <%} %>
