
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7WaMO-50nzRzFcT0F7P6B5RYKHnyMVt8&libraries=places">


</script>

<script>
window.addEventListener('DOMContentLoaded', () => {

  const mapDiv = document.querySelector('.map');
  console.log(mapDiv);

  const map = new google.maps.Map(mapDiv, {
    center: {lat: 51.515252, lng: -0.072344 },
    zoom: 10,
  });

const bounds = new google.maps.LatLngBounds();

//marking the locations of the parks

var x = document.getElementsByClassName('googlelocation');
var locationarray= Array.from(x);

locationarray.forEach(function(y){
  var coords = y.innerHTML.split(', ');
  const marker = new google.maps.Marker({
    position: {lat: Number(coords[0]), lng: Number(coords[1])},
    map: map
  });
  const infoWindow = new google.maps.InfoWindow({
    content: `<div>
<a href= 'parks/${coords[3]}'><p>${coords[2]}</p></a>
</div>`
  });
  marker.addListener('click', () => {
    infoWindow.open(map, marker);

  });
})







});


</script>


<div class='solid'>
<h3>Parks</h3>


<div class="map"></div>

<div class= 'col s12' style='margin-bottom :40px '>

  <div class="row">
    <div class= 'col s12'>
<% parks.forEach((park) => { %>


      <div class="col s12 m4">
        <div class="card small">
          <a href='parks/<%= park._id %>' ><div class="card-image">
            <img src="<%= park.photo %>">
          </div>
          <div class= 'center-align'>
            <h4><%= park.name %></h4>
            <div class='hidden'>
            <p class='googlelocation'><%= park.location %>, <%=park.name %>, <%= park._id %></p>
            </div>
            </div>
            </a>

        </div>
      </div>



    <%   }) %>

  </div>
</div>


  </div>
