<h3>Parks</h3>
<div class= 'col s12' style='margin-bottom :40px '>
  <div id="map" style='height: 300px;'></div>

	<script>
  function initMap() {

  	var hydepark = {
  		info: '<a href="https://goo.gl/maps/JRnChuXUAn72">Get Directions</a>',
  		lat: 51.507268,
  		long: -0.165730
  	};

  	var regentspark = {
  		info: '<a href="https://goo.gl/maps/tGFqnbQB9Rm">Get Directions</a>',
  		lat: 51.531270,
  		long: -0.156969
  	};

  	var potters = {
  		info: '<a href="https://goo.gl/maps/Q5ajybAEs9k">Get Directions</a>',
  		lat: 51.504214,
  		long: -0.078676
  	};

  	var locations = [
        [hydepark.info, hydepark.lat, hydepark.long, 0],
        [regentspark.info, regentspark.lat, regentspark.long, 1],
        [potters.info, potters.lat, potters.long, 2],
      ];

  	var map = new google.maps.Map(document.getElementById('map'), {
  		zoom: 12,
  		center: new google.maps.LatLng(51.513845, -0.098351),
  		mapTypeId: google.maps.MapTypeId.ROADMAP
  	});

  	var infowindow = new google.maps.InfoWindow({});

  	var marker, i;

  	for (i = 0; i < locations.length; i++) {
  		marker = new google.maps.Marker({
  			position: new google.maps.LatLng(locations[i][1], locations[i][2]),
  			map: map
  		});

  		google.maps.event.addListener(marker, 'click', (function (marker, i) {
  			return function () {
  				infowindow.setContent(locations[i][0]);
  				infowindow.open(map, marker);
  			}
  		})(marker, i));
  	}
  }








  </script>
	<script async defer
					src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdv9-_Ed1IqDJVLXNqsRFcS_zGEe2Gr9M&callback=initMap"></script>
</div>


  <div class="row">
    <div class= 'col s12'>
<% parks.forEach((park) => { %>


      <div class="col s12 m4">
        <div class="card small">
          <a href='parks/<%= park._id %>' ><div class="card-image">
            <img src="<%= park.photo %>">
          </div>
          <div class= 'center-align'>
            <h4><%= park.parkname %></h4></a>
            </div>


              <%var array = [];%>


            <% park.reviews.forEach((review) => { %>

              <%array.push(review.rating)%>
              <%var ave = array.reduce((total, rate) => total + rate) / array.length;%>
              <%review.result = ave%>

            <%})%>

            <%var star=park.reviews[park.reviews.length-1].result%>
            <p class='center-align'>
            <%if (star === 5) {%>
              &#9733;&#9733;&#9733;&#9733;&#9733; (<%= park.reviews.length %> reviews)
              <%} else if (star >= 4.5) {%>
              &#9733;&#9733;&#9733;&#9733;&#189; (<%= park.reviews.length %> reviews)
            <%} else if (star >= 4) {%>
              &#9733;&#9733;&#9733;&#9733;&#9734; (<%= park.reviews.length %> reviews)
              <%} else if (star >= 3.5) {%>
              &#9733;&#9733;&#9733;&#189;&#9734; (<%= park.reviews.length %> reviews)
            <%} else if (star >= 3) {%>
              &#9733;&#9733;&#9733;&#9734;&#9734; (<%= park.reviews.length %> reviews)
              <%} else if (star >= 2.5) {%>
              &#9733;&#9733;&#189;&#9734;&#9734; (<%= park.reviews.length %> reviews)
            <%} else if (star >= 2) {%>
            &#9733;&#9733;&#9734;&#9734;&#9734; (<%= park.reviews.length %> reviews)
            <%} else if (star >= 1.5) {%>
            &#9733;&#189;&#9734;&#9734;&#9734; (<%= park.reviews.length %> reviews)
            <%} else {%>
            &#9733;&#9734;&#9734;&#9734;&#9734; (<%= park.reviews.length %> reviews)
            <%} %>
            </p>


        </div>
      </div>



    <%   }) %>

  </div>
</div>




    <h6>Don't see a London park you love? <a href='mailto:parklife@parklife.io'>Suggest it to us!</a></h6>
