
<% if(locals.isLoggedIn) {%>
  <div class='card-panel blue lighten-5' id='submit'>

<h3>Edit your review of <%=park.parkname%></h3>
<form method='POST' action='/parks/<%=park._id %>/reviews/<%=review._id %>'>
 <input type='hidden' name='_method' value='PUT'>
<input name="title" value='<%=review.title%>'></input>
<textarea name="content"><%=review.content%></textarea>
<div style= 'display: none'>
<input name="reviewer" value="<%=locals.user.username%>" ></input>
<input type= 'text' name="time" id='reviewdate' value=''></input>
</div>


<div class = 'row'>
<br />
<div class = 'col s12'>
<div class = 'col s6'>

<button class= "waves-effect waves-light green btn">Submit</button>
</form>

</div>

<div class = 'col s6'>

<form method='POST' action='/parks/<%=park._id %>/reviews/<%=review._id%>'>
<input type='hidden' name='_method' value='DELETE'>
<button class="waves-effect waves-light red btn">Delete this review</button>
</form>
</div>
</div>
</div>
</div>
<%} %>
