<div class="container">

    <img class="responsive-img" src="<%= park.photo %>">

  <h3 class= 'col l10'><%= park.parkname %></h3>



  <% park.reviews.forEach((review) => { %>
 <div class='divider'></div>
<div class='row'>
<div class= 'col s12'>
<div class= 'col s9'>
    <h5><%= review.title %></h5>
    <p>by <%if (review.user){ %>
    <a href='/users/<%=review.user._id%>'><%=review.user.username%></a>
  <%} else { %>
    <a href='/users/<%=review.userid%>'><%=review.reviewer%></a>
    <p><%=review.userid%></p>
  <% } %> on <%=review.time%></p>
        <p>Rating: <%=review.rating%>/5</p>
  <h6><%= review.content %></h6>
  </div>
  <div class= 'col s2'>
  <br />
    <% if((locals.isLoggedIn) && ((locals.user.id === (review.user && review.user.id))  ||  (locals.user.username === review.reviewer))) {%>
      <a href='/parks/<%= park._id%>/reviews/<%= review._id %>/reviewedit'><button class ="waves-effect waves-light green btn">Edit</button></a>
      <%}%>
      </div>
</div>
</div>
 <div class='divider'></div>
<% }) %>
<br />
 <% if(locals.isLoggedIn) {%>

   <div class='card-panel blue lighten-5' id='submit' >
   <h4>Review <%=park.parkname%>!</h4>
   <div class=row>
<form class="col s12" method="POST" action="/parks/<%= park._id %>/reviews">

<div class="input-field col l12">
<input type='text' name="title" id='title_field'></input>
  <label for="title_field">Title</label>
</div>

 <div class="input-field col l12">
<input type='number' name="rating" id='rating_field' min="1" max="5"></input>
  <label for="rating_field">Rating</label>
</div>

<div class="input-field col l12">
<textarea type= 'text' name="content" id='review_field'  class="materialize-textarea"></textarea>
<label for="review_field">Review</label>
</div>


<div style= 'display: none'>
<input placeholder="<%=locals.user.username%>" name="reviewer" value="<%=locals.user.username%>" ></input>
<input placeholder="" name="userid" value="<%=locals.user.id%>" ></input>
<input type= 'text' name="time" id='reviewdate' value=''></input>
</div>

<button class ="waves-effect waves-light green btn">Submit</button>
</form>
</div>

</div>

<%} else {%>

  <p>Want to submit a review of this park? Either <a href ="/login">log in</a> or <a href ="/createaccount">create an account</a>.</p>
    <% } %>
