
<div class="container solid">
  <div class='center-align'>
  <div class='parkphoto' style= 'background-image: url(<%= park.photo %>)'></div>

  <h3 class= 'col s12'><%= park.name %></h3>

</div>

  <% park.reviews.forEach((review) => { %>

    <div class='row'>
    <div class= 'col s12'>

    <div class= 'col s12'>
    <h5><%= review.title %></h5>
    </div>

    <div class= 'row'>

    <div class= 'col s4 m2'>
    <% if (review.reviewer){ %>
      <img class='circle responsive-img' src='<%=review.reviewer.url%>' style= 'margin-top: 20px; object-fit: cover; width:70px; height:70px;'>
      <%} %>
      </div>

      <div class= 'col s6 m8'>
      <p>by <%if (review.reviewer){ %>
        <%=review.reviewer.username%>
        <%} %>
        <br />
        <%if (review.rating === 5) {%>
          &#9733;&#9733;&#9733;&#9733;&#9733;
          <%} else if (review.rating === 4) {%>
            &#9733;&#9733;&#9733;&#9733;&#9734;
            <%} else if (review.rating === 3) {%>
              &#9733;&#9733;&#9733;&#9734;&#9734;
              <%} else if (review.rating === 2) {%>
                &#9733;&#9733;&#9734;&#9734;&#9734;
                <%} else {%>
                  &#9733;&#9734;&#9734;&#9734;&#9734;
                  <%} %>
                  <h6><%= review.content %></h6>
                  </div>

                  <div class= 'col s2 m2'>
                  <br />
                  <%if(locals.isLoggedIn && (review.reviewer.id === locals.user.id)) {%>
                  <a href='/parks/<%= park._id%>/reviews/<%= review._id %>/reviewedit'><button class ="waves-effect waves-light green btn">Edit</button></a>
                  <% } %>

                  </div>
                  </div>

                  </div>


                  </div>


                  <% }) %>
                  <br />

                  <% if(locals.isLoggedIn) {%>

                    <div class='card-panel blue lighten-5' id='submit' >
                    <h4>Review <%=park.name%>!</h4>
                    <div class=row>
                    <form class="col s12" method="POST" action="/parks/<%= park._id %>/reviews">

                    <div class="input-field col l12">
                    <input type='text' name="title" id='title_field'></input>
                    <label for="title_field">Title</label>
                    </div>

                    <div class="input-field col l12">
                    <input type='number' name="rating" id='rating_field' min="1" max="5"></input>
                    <label for="rating_field">Rating</label>
                    </div>

                    <div class="input-field col l12">
                    <textarea type= 'text' name="content" id='review_field'  class="materialize-textarea"></textarea>
                    <label for="review_field">Review</label>
                    </div>

                    <button class ="waves-effect waves-light green btn">Submit</button>
                    </form>
                    </div>

                    </div>


                    <%} else {%>

                      <h6>Want to submit a review of this park? Either <a href ="/login">log in</a> or <a href ="/createaccount">create an account</a>.</h6>


                      <% } %>

                      <% if(park.user && (park.user.id === locals.user.id)) {%>

                          <a href='/parks/<%=park.id%>/edit' ><button class ="waves-effect waves-light green btn">Edit Park</button></a>

                        <%}%>
